@model List<TestChatApp.ViewModels.UserViewModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>
    @Html.ActionLink("Create New", "Register")
</p>
<table class="table">
    <tr>
        <th>
           Id
        </th>
        <th>
           Email
        </th>
        <th>Add friend</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @if (User.Identity.IsAuthenticated)
            {
                <td>
                    @if (item.Email != User.Identity.Name)
                    {
                        @Html.ActionLink("Add friend", "AddFriend", "Account", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                    else
                    {
                        @Html.ActionLink("To your Profile", "UserProfile", "Account", new { @class = "btn btn-default" })
                    }
                </td>
            }
            else
            {
                <td></td>
            }
        </tr>
    }

</table>
