@using Newtonsoft.Json
@model List<TestChatApp.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
}


<head>
    <link href="~/Content/Chat.css" rel="stylesheet" type="text/css">
    <style>
        .selected {
            color: black;
            background-color: white;
        }
    </style>
</head>

<body>
<div class="jumbotron text-center my-0 p-3" id="jumbotronHead">
    <h2>Welcome to your dialogue page @User.Identity.Name</h2>
</div>
<hr />
    

<div class="inbox_msg">
    <div class="inbox_people">
        <div class="inbox_chat" data-bind="foreach: jsonUsers">
            <div class="chat_list" data-bind="css: { selected: $parent.chosenUser() && Email === $parent.chosenUser().Email }">
                <div class="chat_people" data-bind="css:{selected: Email==$root.chosenUser.Email},click: $root.goToChat">
                    <h5 id="userName" data-bind="text: Email"></h5>
                </div>
            </div>
        </div>
    </div>

    <div class="msgs">

        <div class="partial" data-bind="visible: chosenUser()">
            @Html.Partial("_Chat")
        </div>
    </div>
</div>

</body>


@section scripts{
    
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var userName=null;
            $('.chat_list').click(function() {
                $('#discussion').html('');
                userName = $(this).find('#userName').text();
            });

            var chat = $.connection.chatHub;

            chat.client.addChatMessage = function(name, message) {
                $('#discussion')
                    .append('<li><strong>' + htmlEncode(name) + '</strong>: ' + htmlEncode(message) + '</li>');
            };

            $('#displayname').val('@User.Identity.Name');
            $('#message').focus();

            $.connection.hub.start().done(function() {
                $('.msg_send_btn').click(function() {
                    chat.server.sendChatMessage(userName , $('#message').val());
                    chat.server.sendChatMessage('@User.Identity.Name', $('#message').val());


                    $('#message').val('').focus();
                });
            });
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>

    <script src="~/Scripts/knockout-3.4.2.js" type="text/javascript"></script>
    <script type="text/javascript">
        function ChatViewModel() {
            var self = this;
            self.chosenUser = ko.observable();
            self.chattedWithPerson = ko.observable('');
            self.jsonUsers = ko.observableArray(@Html.Raw(JsonConvert.SerializeObject(Model)));
            self.messages = ko.observableArray([]);
            
            self.goToChat = function(user) {
                self.chattedWithPerson("@User.Identity.Name" + " chose chat with "+ user.Email);
                self.chosenUser(user);
            };

        }

        chatViewModel = new ChatViewModel();
        ko.applyBindings(chatViewModel);
    </script>
}